body {
    font-family: Arial, sans-serif;
    font-size: 100%;
    line-height: 110%;
}

.container {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    text-align: center;
}
